html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  position: relative;
  background-color: black;
}
body .pDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  padding-bottom: 100px;
}
body .presentation {
  padding-bottom: 5rem;
  text-align: center;
}
body .addButton {
  font-size: 30px;
  padding: 10px;
  border: none;
  background: radial-gradient(grey, lightgrey, white);
  border-radius: 10px;
}
body h1 {
  text-align: center;
}
body .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 0% 2% 0% 2%;
  background: radial-gradient(grey, grey, lightgrey, gray, gray);
  border-radius: 10px;
  padding: 1%;
}
body .container .class {
  background: radial-gradient(grey, lightgrey, lightgrey, grey);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
}
body .container .class:hover {
  transform: scale(1.005);
  transition: 0.7s ease-in-out;
}
body .container .class .deleteLogoDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
body .container .class .deleteLogoDiv .malLogo {
  margin: auto;
  width: 50%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .class .deleteLogoDiv .malLogo .malA {
  margin: 25%;
}
body .container .class .deleteLogoDiv .malLogo .malSVG {
  width: 100%;
}
body .container .class .deleteLogoDiv .deleteButton {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 15%;
}
body .container .class .deleteLogoDiv .deleteButton .deleteDesign {
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
body .container .class .deleteLogoDiv .deleteButton .sanjican {
  width: 70%;
}
body .container .class .text {
  height: 100%;
}
body .container .class .lignDiv {
  border: 0.1px solid black;
  width: 90%;
  margin: auto;
}
body .container .class .name {
  font-size: 20px;
}
body .container .class .author {
  color: grey;
}
body .container .class span {
  margin: 10px 0 10px 0;
  padding-left: 20px;
}
body .container .class p {
  width: 90%;
  padding-left: 20px;
}
body .container .class img {
  border-radius: 10px;
}
body .container .class .buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  width: 100%;
}
body .container .class .buttonDiv button:nth-child(1),
body .container .class .buttonDiv button:nth-child(2),
body .container .class .buttonDiv button:nth-child(3) {
  background-color: lightgrey;
  border-radius: 10px;
  border: 0;
  color: white;
  padding: 5px;
}

@media only screen and (min-width: 410px) {
  body {
    background: radial-gradient(grey, lightgrey, lightgrey, grey);
    font-size: 20px;
  }
  body h1 {
    text-align: center;
  }
  body .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 0% 2% 0% 2%;
    background: radial-gradient(grey, grey, lightgrey, gray, gray);
    border-radius: 10px;
    padding: 1%;
  }
  body .container .class {
    background: radial-gradient(grey, white, lightgrey);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
  }
  body .container .class .text {
    height: 100%;
  }
  body .container .class .name {
    font-size: 20px;
  }
  body .container .class .author {
    color: grey;
  }
  body .container .class img {
    border-radius: 10px;
  }
  body .container .class .buttonDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  body .container .class .buttonDiv button:nth-child(1),
  body .container .class .buttonDiv button:nth-child(2),
  body .container .class .buttonDiv button:nth-child(3) {
    background-color: lightgrey;
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 5px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: linear-gradient(90deg, rgb(180, 179, 179) 0%, rgb(199, 200, 192) 47%, rgb(168, 170, 170) 100%);
    font-size: 25px;
  }
  body h1 {
    text-align: center;
  }
  body .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0% 2% 0% 2%;
    background: radial-gradient(ellipse at 49% 51%, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.63) 31%, rgba(255, 255, 255, 0.49) 61%, rgba(156, 210, 210, 0.32) 100%);
    border-radius: 10px;
    padding: 1%;
  }
  body .container .class {
    background: radial-gradient(ellipse at 49% 51%, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.63) 31%, rgba(255, 255, 255, 0.49) 61%, rgba(156, 210, 210, 0.32) 100%);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
  }
  body .container .class .text {
    height: 100%;
  }
  body .container .class .name {
    font-size: 20px;
  }
  body .container .class .author {
    color: grey;
  }
  body .container .class h1 {
    margin: 10px 0 10px 0;
  }
  body .container .class img {
    border-radius: 10px;
  }
  body .container .class .buttonDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
  }
  body .container .class .buttonDiv button:nth-child(1),
  body .container .class .buttonDiv button:nth-child(2),
  body .container .class .buttonDiv button:nth-child(3) {
    background-color: lightgrey;
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */